:root {
	--light-gray: rgb(249, 250, 251);
	--olive: #596d48;
}

@font-face {
	font-family: "Norse Bold";
	src: url("fonts/Norse-Bold.woff2") format("woff2"),
		url("fonts/Norse-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	margin: 0;
	background: var(--light-gray);
}

h1 {
	font-size: 70px;
	font-family: "Norse Bold", sans-serif;
	color: white;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-family: sans-serif;
	margin: 0;
}

.left-side {
	height: 100vh;
	width: 400px;
	position: relative;
}

.banner {
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	margin-top: -600px;
	width: inherit;
	padding: 10px 0px;
}

.top {
	margin: 125px 125px 50px 30px;
	line-height: 1.2;
}

.form-container {
	background: white;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
	padding: 20px 0px 35px 50px;
}

.sign-up-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 50px;
	margin-top: 20px;
	margin-right: 50px;
}

.field {
	display: flex;
	flex-direction: column;
}

.field input {
	border: 1px rgb(233, 232, 232) solid;
	height: 22px;
}

.field label {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

button {
	background: var(--olive);
	color: var(--light-gray);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 42px;
	margin: 0;
	border: 0;
	border-radius: 5px;
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
	margin: 50px;
}

.returning-user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.right-side a {
	color: var(--olive);
	text-decoration: none;
	font-weight: bold;
}

.attribution,
.attribution a {
	color: var(--light-gray);
}

.attribution {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes auto-slide {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(0px);
	}
	36% {
		transform: translateX(-400px);
	}
	56% {
		transform: translateX(-400px);
	}
	72% {
		transform: translateX(-800px);
	}
	92% {
		transform: translateX(-800px);
	}
	100% {
		transform: translateX(0px);
	}
}

/*The code below was inspired by Skillthrive's HTML and CSS Project Tutorial: Pure CSS Image Slider.*/

.slider-wrapper {
	position: relative;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	animation-name: auto-slide;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}
