:root {
	--light-gray: rgb(249, 250, 251);
	--olive: #596d48;
	--margin-left: 50px;
}

@font-face {
	font-family: "Norse Bold";
	src: url("fonts/Norse-Bold.woff2") format("woff2"),
		url("fonts/Norse-Bold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	display: flex;
	margin: 0;
	background: var(--light-gray);
}

h1 {
	font-size: 70px;
	font-family: "Norse Bold", sans-serif;
	color: white;
	margin: 0;
}

h2 {
	font-size: 18px;
	font-family: sans-serif;
	margin: 0;
}

.left-side {
	height: 100vh;
	width: 400px;
	position: relative;
}

.banner {
	background: rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	margin-top: -600px;
	width: inherit;
	padding: 10px 0px;
}

.top {
	margin: 125px 125px 40px var(--margin-left);
	line-height: 1.2;
}

.form-container {
	background: white;
	box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
	padding: 20px 0px 35px var(--margin-left);
	animation-name: gentle-float;
	animation-duration: 2s;
}

@keyframes gentle-float {
	0% {
		transform: translateY(20px);
		opacity: 0%;
	}
	100% {
		transform: translateY(0px);
		opacity: 100%;
	}
}

.sign-up-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px var(--margin-left);
	margin-top: 20px;
	margin-right: 200px;
}

.field {
	display: flex;
	flex-direction: column;
}

.field input {
	border: 1px rgb(233, 232, 232) solid;
	height: 22px;
	border-radius: 3px;
}

.field input:focus {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
	outline: 1px blue solid;
}

.field label {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#confirm-password:invalid,
#user-password:invalid {
	outline: 1px rgb(215, 1, 1) solid;
}

button {
	background: var(--olive);
	color: var(--light-gray);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 42px;
	margin: 0;
	border: 0;
	border-radius: 5px;
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
	margin: 40px 0px 10px var(--margin-left);
}

.returning-user {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-left: var(--margin-left);
}

.right-side a {
	color: var(--olive);
	text-decoration: none;
	font-weight: bold;
}

.attribution,
.attribution a {
	color: var(--light-gray);
}

.attribution {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes auto-slide {
	0% {
		transform: translateX(0px);
	}
	20% {
		transform: translateX(0px);
	}
	36% {
		transform: translateX(-400px);
	}
	56% {
		transform: translateX(-400px);
	}
	72% {
		transform: translateX(-800px);
	}
	92% {
		transform: translateX(-800px);
	}
	100% {
		transform: translateX(0px);
	}
}

/*The code below was inspired by Skillthrive's HTML and CSS Project Tutorial: Pure CSS Image Slider.*/

.slider-wrapper {
	position: relative;
}

.slider {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	animation-name: auto-slide;
	animation-duration: 12s;
	animation-iteration-count: infinite;
}
